
/* COLORS */
$clr-100: rgba(255, 255, 255, 1);
$clr-300: rgba(232, 233, 236, 1);
$clr-500: rgba(107, 112, 130, 1);
$clr-900: rgba(46, 51, 73, 1);
$clr-background: rgba(25, 161, 174, 1);

/* TYPE */
$ff-regular: 'Kumbh Sans', sans-serif;
$fw-regular: 400;
$fw-bold: 700;

$fs-regular: 1.125rem;
$fs-accent: 0.875rem;
$fs-accent-small: 0.625rem;

/* BREAKPOINTS */
$mobile: 375px;
$tablet: 768px;


